/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html ,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,

section {
    display: block;
}

body {
    line-height: 1;

    min-width: 350px;

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
html {
    scroll-behavior: smooth;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
p{
    font-family: parry, sans-serif;
font-style: normal;
          font-weight: 400;
}
button {
    font-family: parry, sans-serif;
    font-style: normal;
              font-weight: 900;
}

main{
    text-align: center;

    width: 100%;
}

.forsideImgBox{
position: relative;
width: 100%;
height:50vh;
overflow: hidden;
}
.forsideImg{
    z-index: 1;
    height: 60vh;
 width: 100%; 
    object-fit: cover;

}
.forsideImgBoxpc {
    display: none;
}

/* her er stylingen til de 3 streger som former former brugermenuen*/
.burgerContainer {
    width: 100%;
    position: absolute;
    left:0;
    z-index: 999;
    min-width: 350px;
    overflow-y: scroll;
}
.streg {
    display: block;
    height: 0.25rem;
    background: #fcfbfb;
    border-radius: 20%;
    z-index: 9999;
}

.burgerMenu {
    display: none;
    position: relative;
    height: 1.6rem;
    width: 2rem;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9999;
    
}

.checkbox {
    position: absolute;
    display: block;
    height: 2rem;
    width: 2rem;
    top: 1rem;
    left: 1rem;
    z-index: 5;
    opacity: 0;
    z-index: 99999;
}
/* denne form for animation er med inspiration fra min sidste (esben eksamensopgave) */
.stregTop {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.stregMidt {
    transition: transform 0.2s ease-in-out;
}
.stregBund {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.burgerContainer input[type="checkbox"]:checked~.burgerMenuContent {
    transform: translateX(0);
}
.burgerContainer input[type="checkbox"]:checked~.burgerMenu .stregTop {
    transform: rotate(45deg);
    background:#111;
}
.burgerContainer input[type="checkbox"]:checked~.burgerMenu .stregMidt {
    transform: scaleY(0);
    background:#111;
}
.burgerContainer input[type="checkbox"]:checked~.burgerMenu .stregBund {
    transform: rotate(-45deg);
    background:#111;
}
/* Styling til burgermenu med inhold som skal folde sig ud starter her. stylingen her er til mobil device*/
.bmBtn {
    background-color: rgba(255, 255, 255, 0.871);
    color: #222;
    border: none;
    height: 3.2rem;
    width: 100%;
    font-size: 1.7rem;
    padding: 0;

}

.subMenu {
    display: none;
    width: 100%;
    overflow-y: scroll;
    height: 85vh;
}
.menuContent {
    width: 100%;
    overflow-y: scroll;
}
/* styling til den form som giver mulighed for at book bord hos teaterkatten */
.kundeInfo {
    width: 70%;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    text-align: center;
    color: black;
    height: 1.9rem;
    border: 1px solid black;
}
.reserverBtn {
    width: 70%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: #111;
    color: white;
    border: 1px solid black;
    border-radius: 25px;
    font-family: parry, sans-serif;
    font-weight: 400;
}
.reserveP {
    margin-left: 15%;
    width: 70%;
}
.booktitel {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
.reservationContent{
background-color:white;
margin-bottom: 2rem;
font-family: parry, sans-serif;
font-style: normal;
          font-weight: 400;
}
/* styling til den funktion der gør det muligt at se menukortet*/
.drinksMenu{
background-image: url(img/tavlebaggrund.png);
}
.drinkCardContainer{
   margin-top: 1rem;

}
.drinkCategory{
font-family: "chalky";
font-weight: lighter;
font-style: normal;
color: #ffffff;
font-size: 1.3rem;
line-height: 1.8rem;
display: none;
text-align: left;


}
.drinksBtn{
width: 42%;
font-family: "chalky";
background: #1111116e;
color: white;
font-size: 1.6rem;
border: 1px solid rgba(255, 255, 255, 0);
padding-top: 0.5rem;
}

.drinkCategory div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5% 0% 5%;
  }

  .drinkCategory div p {
    text-align: left;
  }

  .drinkCategory div span {
    text-align: right;
  }
/* styling til event content, her vil man kunne se de forskellige kommende events på teaterkatten*/
.eventContent {
    background-color: rgb(174, 32, 32);
    color: white;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;

}
.eventBaggrund {
    background-image: url(img/eventbaggrund.png);
}
.eventContent2{
width: 80%;
margin-left: 10%;
margin-right: 10%;
}
.eventBilledeRammer{
    font-size:2rem;
}
/* start på styling som ligger i main tag*/
/*background-color:rgb(174, 32, 32);*/
.introBox{
    background-color:#111111e6;
    width: 100%;
    color: white;
    line-height: 1.4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 0rem;
}
.introText {
width: 80%;
margin-left: 10%;
}

/* Her kommer der styling til de reviews der kommer på siden, som deres kunder har sendt på bla facebook */
#reviewBox{
    width: 90%;
  
    margin: 11% 5% 15% 5%;

    height: 7rem;
    color: #222;
    border-radius: 10px;
    background-color: #ffffff54;

    border: 1px solid rgba(0, 0, 0, 0.115);
    box-shadow: #222 1px 3px 6px 1px ;
}
.reviewData{
text-align: center;

}
.reviewData a{
    color: black;
    
}
.reviewP{
    padding-top: 1rem;
    font-style: italic;
}
.reviewLogo{
    width: 45px;
    height: 50px;
}
.reviewLogoF{
    width: 30px;
    height: 30px;
    margin-top: 0.5rem;
    
}

/* Css til mobil-footer starter her*/
/* footerpcmap, skal ikke være synlig på mobil. men skal være synlig på desktop, hvor man kan se et kort hvor teaterkatten ligger*/
.footerPcMap{
    display: none;
}
footer{
    position: relative;
    bottom: 0;
    background-color: #222;
    max-width: 100%;
    color: white;
    margin-top: 3rem;
    height: 8rem; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 99999;
}
a{
    text-decoration: none;
    color: white;
    font-family: bc-figural, italic;
    font-style: italic;
              font-weight: 000;
}
.footerList{
    margin-top: 1rem;
    
}
.logo {
    position: absolute;
    width: 40%;

    top: 23%;
    left:30%;
    right:35%;
opacity: 90%;
}
.introBox2{
    margin-top: 1rem;
    width: 100%;
    color: rgb(17, 11, 11);
    line-height: 1.4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(222, 72, 72);
    
}
/* billede slider med inspiration fra https://codepen.io/BluRoseMD/pen/rWyvEO?fbclid=IwAR3HzRQgqCjCaHz8htzPHWH5Tug68PQadgoSzqMxfyS7ZWv7b3hnXmjiodI 
her skulle vi tilpasse keyframes, og bredden på billederne for at den ville passe til vores, da vi havde flere billeder 
*/
@keyframes slidy {
    0% { left: 0%; }
    10% { left: 0%; }
    15% { left: -100%; }
    30% { left: -100%; }
    35% { left: -200%; }
    50% { left: -200%; }
    55% { left: -300%; }
    70% { left: -300%; }
    75% { left: -400%; }
    90% { left: -400%; }
    95% { left: -500%; }
    100% { left: -500%; }
  }
  div#slider {
    margin-top: 4%;
width: 80%;

height: 350px;
    margin-left: 10%;

    border: 3px solid rgb(41, 41, 41);


    overflow: hidden;
  }
  div#slider figure img {
    width: 14.28%;
    float: left;
    height: 350px;
  } 
  div#slider figure {
    position: relative;
    width: 700%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
  }
  .openInfo{
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    line-height: 2rem;
    font-family: bc-figural, italic;
    font-weight: 100;
    background-color: #111111c8;
    
}
.openInfo p{
    font-family: bc-figural, italic;
font-style: italic;
          font-weight: 000;
    
}
.sliderimg {
    object-fit: cover;
    object-position: center;
}
.slider2 {
    display: none;
}
.kontaktknap a {
    position: fixed;
    z-index: 25;
    color: #a6a6a6;
    font-size: 1.4rem;
    top: 95%;
    left:3%;


}

.gallerititel {
    font-size: 3rem;
    margin-top: 3rem;
    font-family: bc figular;

}
.galleribar {
    width: 70%;
}
.menutitel {
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: chalky;
    font-size: 3rem;
    color:#ffffff;
}
#footermap {
    display:none;
}
.ramme {
    width: 100%;
}

@media only screen and (max-width: 900px){
    



    .burgerMenuContent {
        display: block;
        position: relative;
        margin-top: -1.6rem;
        width: 100%;
        transform: translate(-100%);
        transition: transform 0.7s ease-in-out;
        display: flex;
        flex-direction: column;

        text-align: center;
        z-index: 999;


    }

} 

@media only screen and (min-width: 900px){
    .forsideImgBox {
        display: none;
    }
    .forsideImgBoxpc{
        display: block;
        position: relative;
        width: 100%;
        height:100vh;
        overflow: hidden;
        }
        .forsideImg{
            z-index: 1;
            height: 100vh;
            min-width: 100%; 
            margin-bottom: 3rem;
            object-fit: cover;
            object-position: center;
        }

    .burgerMenu {
        display: none;
    }

    .bmBtn {
        background-color:#ffffff57;
        z-index: 2;
    }
    .bmBtn:hover {
        background-color: #ffffff;
    }
.burgerContainer{
    overflow: hidden;
    height: 3.2rem;
    background-color: #ffffff00;
}
    .burgerMenuContent {

        position: relative;
        width: 100%;

        display: flex;
        flex-direction: row;

        text-align: center;
        z-index: 999;


    }

 .drinksMenu {
background-image: url(img/tavlebaggrund.png);

    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    width: 33.33%;
    height: 100%;


}
.eventMenu {

    
        position: fixed;
        margin: 0;
        left: 33.33%;
        top: 0;
        width: 33.33%;
        height: 100%;

    
    }

    .eventContent {
        height: 100%;

    }
    .subMenu {
        overflow-y: scroll;
    
    }
  .bookMenu {
        
    position: fixed;
            margin: 0;
            left: 66.66%;
            top: 0;
            width: 33.33%;
            height: 1080px;
        overflow:hidden ;
        }
            
        .reservationContent {
            height: 100%;
            background-color: #ffffffd0;
            padding-top: 30%;
        }


.drinkCardContainer {
    position: fixed;

    margin: 0;
   
    top:0;
    left:32%;
    width:68%;
    height:100%;
}
.drinkCategory div p {
margin-left: 20%;

}
.drinkCategory div span {
    margin-right: 20%;
    
    }
#cocktailsCategory {
    padding: 10% 5% 0% 5%;
}
    .drinkCategory  {
        padding: 20% 5% 0% 5%;
        display: none;
        background-image: url(img/tavlebaggrund.png);
        height: 100%;

        }


.menutitel {
    margin-top: 20%;
    margin-bottom: 5%;
    font-family: chalky;
    font-size: 3rem;
    color:#ffffff;
}
.openInfo{
    position: absolute;
    top: 60%;
    left: 8%;
    color: rgba(255, 255, 255, 0.66);
    font-size: 3rem;
    line-height: 4rem;
}
.slider2 {
    display: block;
}

.flexslider {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#slider {
    margin-left: 2%;
    margin-right: 2%;
    width: 30%;
  }


  #reviewBox{
    width: 30%;
    margin: 5% 0% 0% 35%;


    
}
.kontaktknap a {
    position: fixed;
    z-index: 25;
    color: #111111;
    font-size: 2rem;
    top: 95%;
    left:3%;

}
.logo {
    position: absolute;
    width: 30%;
    min-width: 350px;
    top: 23%;
    left:35%;
    right:35%;
opacity: 40%;
}
a:hover{
    opacity: 50%;
}
footer {
    line-height: 2rem;
    height: 10%;
    font-size: 1.5rem;
}
h2 {
    margin-bottom: 0.6rem;
    text-decoration: underline;
}
#footermap {
    display: block;
    margin-bottom: 2rem;
}
.introBox {
    margin-top: 3%;
    width: 50% ;
    margin-left: 25%;
    margin-bottom: 0%;

}

.introBox2 {
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;

}
.introBox3 {
margin-top: 2%;
margin-bottom: 4%;
}
}